.app_container {
  text-align: center;
  margin: 20px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  place-items: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


